.ajax-spinner {
    -webkit-background-size: 16px 16px;
            background-size: 16px 16px;
    background: url('../icons/ajax-spinner.gif?v=3') no-repeat center;
    color: #888888;
    display: block;
    line-height: 16px;
    text-align: center;
    text-indent: 90px;
    text-transform: uppercase;
    visibility: hidden;
}