.ajax-spinner {
    background: url( '../icons/ajax-spinner.gif?2' ) no-repeat;
    -webkit-background-size: 20px 20px;
    	    background-size: 20px 20px;
    bottom: 1%;
    color: #888888;
    left: 30%;
    line-height: 21px;
    position: absolute;
    text-indent: 23px;
    text-transform: uppercase;
    visibility: hidden;
}