.#{$prefix}-custom-switch {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: relative;
    width: 69px;

    .#{$prefix}-check {
    	display: none;
    }

	label {
	    border-radius: 5px;
	    border: 2px solid $colorWhite;
	    cursor: pointer;
	    display: block;
	    overflow: hidden;
	}

	.#{$prefix}-inner {
	    display: block;
	    margin-left: -100%;
	    transition: margin 0.3s ease-in 0s;
	    width: 200%;
	}

	.#{$prefix}-inner:before,
	.#{$prefix}-inner:after {
	    box-sizing: border-box;
	    color: white;
	    display: block;
	    float: left;
	    font-family: Trebuchet, Arial, sans-serif;
	    font-size: 14px;
	    font-weight: bold;
	    height: 24px;
	    line-height: 28px;
	    padding: 0;
	    width: 50%;
	}

	.#{$prefix}-inner:before {
	    background-color: $colorCheckboxOn;
	    color: $colorWhite;
	    content: attr( data-title-on );
	    padding-left: 9px;
	}

	.#{$prefix}-inner:after {
	    background-color: $colorCheckboxOff;
	    color: $colorWhite;
	    content: attr( data-title-off );
	    padding-right: 9px;
	    text-align: right;
	}

	.#{$prefix}-switch {
	    background: $colorWhite;
	    border-radius: 3px;
	    border: 2px solid transparent;
	    bottom: 2px;
	    display: block;
	    margin: 3.5px;
	    position: absolute;
	    right: 43px;
	    top: 2.5px;
	    transition: all 0.3s ease-in 0s;
	    width: 15px;
	}

	.#{$prefix}-check:checked + label .#{$prefix}-inner {
	    margin-left: 0;
	    left: 2px;
	}

	.#{$prefix}-check:checked + label .#{$prefix}-switch {
	    right: 2px;
	}
}