.#{$prefix}-square-plus {
	margin-bottom: 10px;
  margin-top: 10px;

  .#{$prefix}-item {
    display: inline-block;
  }

	.#{$prefix}-item .#{$prefix}-btn {
    align-items: center;
    border-radius: 3px;
    color: #fff;
    display: flex;
    height: $size - 5;
    justify-content: center;
    position: relative;
    width: $size;

	    svg {
        color: #fff;
        width: 22px;
        height: 22px;
        left: -1px;
        line-height: 27px;
        position: relative;

	    	&:hover {
	    		color: inherit;
	    	}
	    }
	}

	.#{$prefix}-inside .#{$prefix}-link {

	    svg {
            vertical-align: -moz-middle-with-baseline;
            vertical-align: -webkit-baseline-middle;
	    }

	    span { display: none; }

	    @media ( min-width: $mobile ) {
			width: 100%;
			padding: 0 15px 0 10px;
			text-align: initial;

		    span {
				display: inline-block;
				font-weight: bold;
				left: 1px;
				margin-left: 3px;
				position: relative;
				text-transform: uppercase;
				top: 2px;
		    }
	    }
	}

	i.#{$prefix}-icon-facebook-square-plus {
		vertical-align: middle;
	}
}
