.#{$prefix}-square-plus {
	margin-bottom: 10px;
	margin-top: 10px;

	.#{$prefix}-item .#{$prefix}-btn {
		border-radius: 3px;
		color: #fff;
		height: $size - 5;
		position: relative;
		padding: 2px 0 0 2px;
	    display: table-cell;
		text-align: center;
		width: $size;

	    i {
			color: #fff;
			font-size: 22px;
			height: initial;
			left: -1px;
			line-height: 27px;
			position: relative;
			width: initial;

	    	&:hover {
	    		color: inherit;
	    	}
	    }
	}

	.#{$prefix}-inside .#{$prefix}-link {

	    i {
            vertical-align: -moz-middle-with-baseline;
            vertical-align: -webkit-baseline-middle;
	    }

	    span { display: none; }

	    @media ( min-width: $mobile ) {
			width: 100%;
			padding: 0 15px 0 10px;
			text-align: initial;

		    span {
				display: inline-block;
				font-weight: bold;
				left: 1px;
				margin-left: 3px;
				position: relative;
				text-transform: uppercase;
				top: 5px;
		    }
	    }
	}

	i.#{$prefix}-icon-facebook-square-plus {
		vertical-align: middle;
	}
}