$_itemsAvailable : 'items-available';

.#{$prefixClass}-fixed-clear {
    input {
        background: #bfbfbf;
        border-radius: 4px;
        border: 0;
        box-shadow: 0 2px 0 0 darken( #bfbfbf, 15% );
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        outline: none;
    }

    input:hover {
        background: darken( #bfbfbf, 5% );
    }

    input:active {
        box-shadow: none;
        position: relative;
        top: 2px;
    }

    span {
        position: relative;
        top: 1px;
    }
}

.#{$prefixClass}-wrap {
    @extend %noSelect;
    background: $bgAdmin;
    padding: 0 10px;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    position: relative;

    label { cursor: auto; }
}

.#{$prefixClass}-#{$_itemsAvailable} td,
.#{$prefixClass}-social-networks td,
.#{$prefixClass}-layout-options td,
.#{$prefixClass}-remove-elements td,
.#{$prefixClass}-position-fixed td {
    float: left;
    padding-right: 0;
}

.#{$prefixClass}-title-wrap {
    color: #5B5959;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    padding: 10px 0;
    text-shadow: 1px 1px 1px #FFF;
}

// ----------------------------------------------------------------------------
// -- Advanced selector > Settings > Places available
// ----------------------------------------------------------------------------
@include input-remove( single );
@include input-remove( pages );
@include input-remove( home );
@include input-remove( before );
@include input-remove( after );
@include input-remove( fixed );

// ----------------------------------------------------------------------------
// -- Advanced selector > Settings > Social networks available
// ----------------------------------------------------------------------------
@each $key, $color in $colors {
    @include input-remove( $key );
}

// ----------------------------------------------------------------------------
// -- Advanced selector > Settings > Layout options
// ----------------------------------------------------------------------------
@include input-remove( default );
@include input-remove( buttons );
@include input-remove( rounded );
@include input-remove( square );
@include input-remove( 'square-plus' );

// ----------------------------------------------------------------------------
// -- Advanced selector > Settings > Position fixed
// ----------------------------------------------------------------------------
@include input-remove( 'fixed-right' );
@include input-remove( 'fixed-left' );
@include input-remove( 'fixed-top' );
@include input-remove( 'referrer' );
// ----------------------------------------------------------------------------
// -- Advanced selector > Extra settings > Remove elements
// ----------------------------------------------------------------------------
@include input-remove( 'remove-count' );
@include input-remove( 'remove-inside' );
@include input-remove( 'disable-css' );
@include input-remove( 'disable-script' );

.#{$prefixClass}-#{$_itemsAvailable},
.#{$prefixClass}-social-networks,
.#{$prefixClass}-layout-options,
.#{$prefixClass}-remove-elements,
.#{$prefixClass}-position-fixed,
.#{$prefixClass}-position-fixed-top,
.#{$prefixClass}-referrer {
    input + label {
        background: #F6FBFD;
        border-radius: 5px;
        box-shadow: inset 0 0 1px 1px #D2D2D2;
        color: #4F5558;
        cursor: pointer;
        float: left;
        padding: 5px 8px;
        position: relative;
        text-shadow: 1px 1px 1px #FFF;
        transition:  width .3s;
        white-space: nowrap;
    }
}

.#{$prefixClass}-#{$_itemsAvailable},
.#{$prefixClass}-layout-options,
.#{$prefixClass}-position-fixed,
.#{$prefixClass}-position-fixed-top,
.#{$prefixClass}-referrer {
    input + label:before {
        background: $colorCheckboxOn;
    }
}

.#{$prefixClass}-#{$_itemsAvailable},
.#{$prefixClass}-social-networks,
.#{$prefixClass}-layout-options,
.#{$prefixClass}-remove-elements,
.#{$prefixClass}-position-fixed,
.#{$prefixClass}-position-fixed-top,
.#{$prefixClass}-referrer {
    input + label:before {
        border-radius: 5px;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        transition: width .3s;
        width: 0;
    }
}

// ----------------------------------------------------------------------------
// -- Social item > Settings > Social networks available
// ----------------------------------------------------------------------------
@each $key, $color in $colors {
    @include social-item( $color, $key );
}

.#{$prefixClass}-social-networks {
    input + label:after {
        color: #807E7E;
        font-size: 20px;
        position: relative;
        text-shadow: initial;
    }

    input:checked + label:after {
        color: #fff;
    }
}

.#{$prefixClass}-#{$_itemsAvailable},
.#{$prefixClass}-social-networks,
.#{$prefixClass}-layout-options,
.#{$prefixClass}-remove-elements,
.#{$prefixClass}-position-fixed,
.#{$prefixClass}-position-fixed-top,
.#{$prefixClass}-referrer {
    input:checked + label:before {
        width: 100%;
    }

    input:checked + label span {
        color: #fff;
        position: relative;
        text-shadow: none;
        z-index: 2;
    }
}

.#{$prefixClass}-remove-elements label {
    cursor: pointer;
}

.#{$prefixClass}-remove-elements input:checked + label {
    font-weight: bold;
    line-height: normal;
    text-shadow: none;
    z-index: 2;
}

.#{$prefixClass}-remove-elements input + label:after {
    @extend .#{$prefixClass}-icon-toggle-off:before;
}

.#{$prefixClass}-remove-elements input + label {
    background: transparent;
    border-radius: initial;
    box-shadow: none;
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    text-shadow: initial;
}

.#{$prefixClass}-remove-elements input:checked + label:after {
    position: relative;
    @extend .#{$prefixClass}-icon-toggle-on:before;
    color: $colorCheckboxOn;
}

.#{$prefixClass}-highlight {
    background-color: #fff;
    border-radius: 5px;
    border: 1px dotted #a0a5aa;
    left: 5px;
    position: relative;
    top: 14px;
    width: 30px;
}

@media ( min-width: 520px ) {
    .#{$prefixClass}-square-plus
    .#{$prefixClass}-inside
    .#{$prefixClass}-link span {
        top: 5px;
    }
}