// ===================================================
// --           Font Icon
// ===================================================
@font-face {
    font-family: 'wpusb';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/wpusb.woff2?wuny4d') format('woff2'),                 /* Super Modern Browsers */
         url('../fonts/wpusb.woff?wuny4d') format('woff'),                   /* Pretty Modern Browsers */
         url('../fonts/wpusb.ttf?wuny4d') format('truetype'),                /* Safari, Android, iOS */
         url('../fonts/wpusb.svg?wuny4d#wpusb') format('svg'),               /* Legacy iOS */
         url('../fonts/wpusb.eot?wuny4d#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/wpusb.eot?wuny4d');                                   /* IE9 Compat Modes */
}

[class^="wpusb-icon"], [class*=" wpusb-icon"] {
    @extend %icon;
}

.wpusb-icon-angle-double-left:before {
  content: "\f100";
}
.wpusb-icon-angle-double-right:before {
  content: "\f101";
}
.wpusb-icon-checked:before {
  content: "\e901";
}
.wpusb-icon-remove:before {
  content: "\e900";
}
.wpusb-icon-share:before {
  content: "\f1e0";
}
.wpusb-icon-share-square:before {
  content: "\e925";
}
.wpusb-icon-share-rounded:before {
  content: "\e917";
}
.wpusb-icon-vk:before {
  content: "\e938";
}
.wpusb-icon-vk-square:before {
  content: "\e937";
}
.wpusb-icon-vk-rounded:before {
  content: "\e936";
}
.wpusb-icon-behance:before {
  content: "\e930";
}
.wpusb-icon-behance-square:before {
  content: "\e931";
}
.wpusb-icon-behance-rounded:before {
  content: "\e932";
}
.wpusb-icon-buffer:before {
  content: "\e933";
}
.wpusb-icon-buffer-square:before {
  content: "\e934";
}
.wpusb-icon-buffer-rounded:before {
  content: "\e935";
}
.wpusb-icon-vimeo:before {
  content: "\e92e";
}
.wpusb-icon-vimeo-square:before {
  content: "\f194";
}
.wpusb-icon-vimeo-rounded:before {
  content: "\e92d";
}
.wpusb-icon-foursquare:before {
  content: "\ead6";
}
.wpusb-icon-foursquare-square:before {
  content: "\e905";
}
.wpusb-icon-foursquare-rounded:before {
  content: "\e909";
}
.wpusb-icon-instagram:before {
  content: "\e911";
}
.wpusb-icon-instagram-square:before {
  content: "\e92a";
}
.wpusb-icon-instagram-rounded:before {
  content: "\e92b";
}
.wpusb-icon-like:before {
  content: "\f088";
}
.wpusb-icon-like-square:before {
  content: "\e90b";
}
.wpusb-icon-like-rounded:before {
  content: "\e916";
}
.wpusb-icon-facebook:before {
  content: "\ea8c";
}
.wpusb-icon-facebook-square:before {
  content: "\e602";
}
.wpusb-icon-facebook-rounded:before {
  content: "\e609";
}
.wpusb-icon-twitter:before {
  content: "\ea91";
}
.wpusb-icon-twitter-square:before {
  content: "\e604";
}
.wpusb-icon-twitter-rounded:before {
  content: "\e60c";
}
.wpusb-icon-google-plus:before {
  content: "\e904";
}
.wpusb-icon-google-plus-square:before {
  content: "\e918";
}
.wpusb-icon-google-plus-rounded:before {
  content: "\e91f";
}
.wpusb-icon-linkedin:before {
  content: "\eac9";
}
.wpusb-icon-linkedin-square:before {
  content: "\e606";
}
.wpusb-icon-linkedin-rounded:before {
  content: "\e90a";
}
.wpusb-icon-pinterest:before {
  content: "\e600";
}
.wpusb-icon-pinterest-square:before {
  content: "\e608";
}
.wpusb-icon-pinterest-rounded:before {
  content: "\ead0";
}
.wpusb-icon-whatsapp:before {
  content: "\e610";
}
.wpusb-icon-whatsapp-square:before {
  content: "\e923";
}
.wpusb-icon-whatsapp-rounded:before {
  content: "\e908";
}
.wpusb-icon-tumblr:before {
  content: "\e60d";
}
.wpusb-icon-tumblr-square:before {
  content: "\e902";
}
.wpusb-icon-tumblr-rounded:before {
  content: "\e611";
}
.wpusb-icon-gmail:before {
  content: "\e903";
}
.wpusb-icon-gmail-square:before {
  content: "\e919";
}
.wpusb-icon-gmail-rounded:before {
  content: "\e91a";
}
.wpusb-icon-email:before {
  content: "\f003";
}
.wpusb-icon-email-square:before {
  content: "\e927";
}
.wpusb-icon-email-rounded:before {
  content: "\ea86";
}
.wpusb-icon-flickr:before {
  content: "\eaa1";
}
.wpusb-icon-flickr-square:before {
  content: "\e60a";
}
.wpusb-icon-flickr-rounded:before {
  content: "\eaa3";
}
.wpusb-icon-youtube:before {
  content: "\f167";
}
.wpusb-icon-youtube-square:before {
  content: "\f166";
}
.wpusb-icon-youtube-rounded:before {
  content: "\e90d";
}
.wpusb-icon-telegram:before {
  content: "\f1d8";
}
.wpusb-icon-telegram-square:before {
  content: "\e90c";
}
.wpusb-icon-telegram-rounded:before {
  content: "\e906";
}
.wpusb-icon-skype:before {
  content: "\e912";
}
.wpusb-icon-skype-square:before {
  content: "\e913";
}
.wpusb-icon-skype-rounded:before {
  content: "\e907";
}
.wpusb-icon-viber:before {
  content: "\e914";
}
.wpusb-icon-viber-square:before {
  content: "\e915";
}
.wpusb-icon-viber-rounded:before {
  content: "\e924";
}
.wpusb-icon-printer:before {
  content: "\e607";
}
.wpusb-icon-printer-square:before {
  content: "\e928";
}
.wpusb-icon-printer-rounded:before {
  content: "\e926";
}
.wpusb-icon-rss:before {
  content: "\e910";
}
.wpusb-icon-rss-square:before {
  content: "\f143";
}
.wpusb-icon-rss-rounded:before {
  content: "\e92c";
}
.wpusb-icon-snapchat:before {
  content: "\f2ac";
}
.wpusb-icon-snapchat-square:before {
  content: "\f2ad";
}
.wpusb-icon-snapchat-rounded:before {
  content: "\f2ab";
}
.wpusb-icon-reddit:before {
  content: "\f281";
}
.wpusb-icon-reddit-square:before {
  content: "\e929";
}
.wpusb-icon-reddit-rounded:before {
  content: "\f1a1";
}
.wpusb-icon-flipboard:before {
  content: "\e91b";
}
.wpusb-icon-flipboard-square:before {
  content: "\e91c";
}
.wpusb-icon-flipboard-square2:before {
  content: "\e91d";
}
.wpusb-icon-flipboard-rounded:before {
  content: "\e91e";
}
.wpusb-icon-messenger:before {
  content: "\e920";
}
.wpusb-icon-messenger-square:before {
  content: "\e921";
}
.wpusb-icon-messenger-rounded:before {
  content: "\e922";
}
.wpusb-icon-github:before {
  content: "\e92f";
}
.wpusb-icon-github-square:before {
  content: "\e90e";
}
.wpusb-icon-github-rounded:before {
  content: "\e90f";
}
