// ----------------------------------------------------------------------------
// Variables > Grid
// ----------------------------------------------------------------------------
$size               : 35px;
$tablet             : 768px;
$mobile             : 520px;

// ----------------------------------------------------------------------------
// Variables > Color
// ----------------------------------------------------------------------------
$colorfacebook      : #3b5998;
$colorTwitter       : #00aced;
$colorGooglePlus    : #dd4b39;
$colorEmail         : #0166FF;
$colorPrint         : #61D1D5;
$colorPinterest     : #cb2027;
$colorLinkedin      : #007bb6;
$colorTumblr        : #385774;
$colorWhatsapp      : #49B13B;
$bgAdmin            : #f6fbfd;

// ----------------------------------------------------------------------------
// Variables > Fonts
// ----------------------------------------------------------------------------
$prefixClass 	    : "wpusb";

// ----------------------------------------------------------------------------
// Variables > Font Size
// ----------------------------------------------------------------------------
$fontSizeDefault    : 14px;
