// ===================================================
// --               Variables > Grid
// ===================================================
$size               : 35px;
$tablet             : 769px;
$mobile             : 521px;
// ===================================================
// --         Variables Social Media > Color
// ===================================================
$colorfacebook      : #3b5998;
$colorfacebookLike  : #4C63A5;
$colorTwitter       : #00aced;
$colorGooglePlus    : #dd4b39;
$colorEmail         : #0082b3;
$colorPrint         : #61D1D5;
$colorPinterest     : #cb2027;
$colorLinkedin      : #007bb6;
$colorTumblr        : #32506d;
$colorWhatsapp      : #4BC557;
$colorYouTube       : #bb0000;
$colorInstagram     : #517fa4;
$colorFlickr        : #ff0084;
$colorTelegram      : #0088cc;
$colorSkype         : #00aff0;
$colorViber         : #8f5db7;
$colorVine			: #00bf8f;
$colorVK			: #45668e;
$colorRss			: #f26522;
$bgAdmin            : #f6fbfd;
$btnColor           : #0085BA;
// ===================================================
// --              Variables > Prefix
// ===================================================
$prefixClass 	    : "wpusb";
// ===================================================
// --              Variables > Font Size
// ===================================================
$fontSizeDefault    : 14px;