.#{$prefix}-count {
    background: #ededed;
    border: 0;
    padding: 0 10px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    padding: 0 5px;
    position: relative;
    text-align: center;

    &:after {
        border-color: transparent #ededed transparent transparent;
        border-style: solid;
        border-width: 10px;
        content: '';
        margin-top: -10px;
        position: absolute;
        right: 100%;
        top: 50%;
    }
}