.#{$prefix}-modal-mask {
	opacity: 0;
	z-index: 9999;

	&:after {
		background-color: rgba( 0, 0, 0, .9 );
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
	}

	.#{$prefix}-btn-close {
		border-radius: 25px;
		border: 1px solid #cccbcb;
		color: #fff;
		cursor: pointer;
		font-family: Arial, Sans-serif;
		font-size: 30px;
		line-height: 0;
		padding: 8px;
		position: fixed;
		right: 15px;
		top: 15px;
		z-index: 99999;

		&:hover {
	    	color: #fff;
	    	border-color: #fff;
		}
	}
}

@include add-animate( modal-networks, modalOpen );

.#{$prefix}-modal-networks {
	background: #fff;
	border-radius: 5px;
	display: none;
	font-size: 0;
	line-height: 0;
	margin: 0;
	max-height: 300px;
	max-width: 595px;
	overflow: auto;
	padding: 3px;
	position: fixed;
	text-align: left;
	z-index: 99999;

	@media ( max-width: $tablet ) {
		max-width: 415px;
		text-align: center;
	}

	@media ( max-width: $mobile ) {
		max-width: 205px;
	}
}

.#{$prefix}-element-popup {
	display: inline-block;
	margin: 2px;
	max-width: 192px;
	width: 100%;
}

.#{$prefix}-name-popup {
	font-family: Arial, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	left: 6px;
	position: relative;
	top: -3px;

	&:before {
		content: attr( data-name );
	}
}

.#{$prefix}-button-popup {
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	line-height: 0;
	padding: 8px 0;
	text-align: left;
	text-indent: 10px;
	width: 100%;

    &:hover,
    &:active,
    &:visited,
    &:focus,
    &:-webkit-any-link {
    	color: #fff;
        border-bottom: none;
        box-shadow: none;
        text-decoration: none;
        outline: none;
    }
}

.#{$prefix}-icon-popup {
    font-size: 22px;
}

@each $key, $color in $colors {
	.#{$prefix}-#{$key}-popup {
		background-color: $color;

		&:hover {
			background-color: darken( $color, 10% );
		}
	}
}

.#{$prefix}-modal-networks .#{$prefix}-element-popup {
	.#{$prefix}-btn:hover,
	.#{$prefix}-btn:focus,
	.#{$prefix}-btn {
		box-shadow: none !important;
		color: #fff !important;
		text-decoration: none !important;
	}
}

##{$prefix}-container-square-plus,
##{$prefix}-container-fixed,
##{$prefix}-container-buttons {
	.#{$prefix}-item {
		.#{$prefix}-btn:hover,
		.#{$prefix}-btn:focus,
		.#{$prefix}-btn {
			text-decoration: none;
		}

		.#{$prefix}-btn:hover,
		.#{$prefix}-btn:focus {
			color: #fff;
		}
	}
}

##{$prefix}-container,
##{$prefix}-container-fixed {
	.#{$prefix}-item {
		.#{$prefix}-btn:hover,
		.#{$prefix}-btn:focus {
			color: #fff;
			box-shadow: none;
		}
	}
}