.#{$prefix}:not(.#{$prefix}-fixed-top) .#{$prefix}-referrer {
    margin-left: 10px;
    width: 100%;

    .#{$prefix}-button {
	    padding: 6px;
	    text-align: center;
	    width: 100%;
    }
}

.#{$prefix}-square-plus:not(.#{$prefix}-fixed-top) .#{$prefix}-referrer {
	display: table;
	height: 36px;
	margin-left: 5px;

	.#{$prefix}-link {
	    line-height: 30px;
	    text-align: center;
	}
}

@include featured-referrer( facebook, $colorfacebook );
@include featured-referrer( google-plus, $colorGooglePlus );
@include featured-referrer( twitter, $colorTwitter );
@include featured-referrer( linkedin, $colorLinkedin );