.#{$prefix}-settings-wrap {
	position: relative;

	.search-box {
		margin-bottom: 6px;
	}

	.#{$prefix}-label {
		font-size: 14px;
		margin-left: 5px;
	}

	.#{$prefix}-datepicker {
		height: 28px;
		width: 130px;
	}
}

.#{$prefix}-datepicker-container .ui-datepicker {
	.ui-datepicker-prev,
	.ui-datepicker-next {
		display: none;
	}
}