.#{$prefix}-settings-wrap {
	position: relative;

	.search-box {
		margin-bottom: 6px;
	}

	.wpusb-label {
		font-size: 14px;
		margin-left: 5px;
	}

	.wpusb-datepicker {
		height: 28px;
		width: 120px;
	}
}